<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.labanimation">

    <application>
        <activity
            android:name=".springphysics.features.start.flinganim.FlingAnimationActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- deeplink://main_activity_first_sample_opengl_renderer -->
                <data
                    android:host="fling_anim_activity_first_sample"
                    android:scheme="deeplink" />
            </intent-filter>
        </activity>
        <activity
            android:name=".springphysics.features.start.InitAnimationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="init_anim_activity_first_sample"
                    android:scheme="deeplink" />
            </intent-filter>
        </activity>


        <activity
            android:name=".springphysics.features.draggingbutton.DraggingButtonActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="drag_button_spring_anim_activity_first_sample"
                    android:scheme="deeplink" />
            </intent-filter>
        </activity>
    </application>

</manifest>