<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RadarAnimation.NoActionBar">
        <activity
            android:name="com.br.experience.features.tutorials.medium.androidstorage.AndroidAndScopeStorageActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.codelabs.jetpackcompose.writeautomatedtest.WriteAutomatedTestActivity"
            android:exported="false"
            android:label="@string/title_activity_write_automated_test"
            android:theme="@style/Theme.RadarAnimation.NoActionBar" />
        <activity
            android:name="com.br.experience.features.codelabs.arch.lifecycleawarecomponents.views.CodelabsLifecycleAwareComponentsActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.codelabs.testinginjetpackcompose.TestingInJetpackComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_testing_in_jetpack_compose"
            android:theme="@style/Theme.RadarAnimation.NoActionBar" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.aboutcoroutines.mocking.FakeApiMockingCoroutinesActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.reclerview.diffutilsi.UsingDiffUtilsOnRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.aboutcoroutines.dispatcher.SampleCoroutineDispatcherKDocActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="samplecoroutinedispatcher"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.tutorials.medium.unittestcoroutines.UnitTestCoroutinesActivity"
            android:exported="false"
            android:label="@string/title_activity_unit_test_coroutines"
            android:theme="@style/Theme.RadarAnimation.NoActionBar" />
        <activity
            android:name="com.br.experience.features.codelabs.jetpackcompose.scramblewordgamecopy.ScrambleGameActivity"
            android:exported="false"
            android:label="@string/title_activity_scramble_game"
            android:theme="@style/Theme.RadarAnimation.NoActionBar" />
        <activity
            android:name="com.br.experience.features.funwithrobolectric.FirstTestWithRobolectricActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="robolectric1sttest"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.codelabs.jetpackcompose.scramblewordgamecopy.ScrambleWordGameActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="codelabsscramblewordgamecopy"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.codelabs.funwithworkmanager.FunWithWorkManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.studies.booke.androidarchfinal.AndroidArchitechtureActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.DrawUnderStatusBarActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.listandopen.OpenFeatureActivity"
            android:exported="false"
            android:label="@string/title_activity_open_feature"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.listadaptervsrecyclerview.AppListAdapterVsRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.codelabs.arch.basicroomcleanarch.SampleWithCleanArchActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.codelabs.arch.basicroomwithflow.CodeLabsRoomWithViewModelAndFlow"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="codelabsroomwithviewmodelandflow"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.codelabs.arch.basicroomwithllivedata.views.CodeLabsRoomWithViewModelAndLiveData"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="codelabsroomwithviewmodelandlivedata"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.codelabs.sec.privacysample.AndroidPrivacyCodelabsActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.customswitchbutton.CustomSwitchButtonActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.db.fromroomtodelight.FromRoomToSqlDelightActivity"
            android:exported="false"
            android:label="@string/title_activity_from_room_to_sql_delight" />
        <activity
            android:name="com.br.experience.features.tutorials.medium.viewmodellifecycle.ViewLifecycleLazyActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.cardview.layoutbasedcardview.LayoutBasedOnCardViewActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.textinputlaout.TextInputLayoutIActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.beziercurve.drawingheart.DrawingHeartWithBezierCurveActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.AllBookSamplesActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.chp1.DrawingTextIActivity"
            android:exported="true"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.RadarAnimation.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="drawing_centered_text"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.chp1.DrawCenteredLineViewActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.RadarAnimation.NoActionBar" />
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.chp3.DrawTextActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.chp3.ExplorerCanvasPathActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.book.android2dgraphics.chp3.DrawingPrimitivesActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.animation.view.BasicsViewAnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.animation.fling.BasicsFlingAnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.radaranimation.RadarViewActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.pathanimations.PathAnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.features.drawingbasicshapes.BasicShapesActivity"
            android:exported="false" />
        <activity
            android:name="com.br.experience.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>