<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />

    <application>
        <activity
            android:name=".feature.opengl.drawing.views.activities.GLRendererActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- deeplink://main_activity_first_sample_opengl_renderer -->
                <data
                    android:host="main_activity_first_sample_opengl_renderer"
                    android:scheme="deeplink" />
            </intent-filter>
        </activity>
    </application>

</manifest>