<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xp.samplecustomview">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MaterialComponent.Light.NoActionBar">
        <activity
            android:name=".SampleEncryptedSharedPrerenceActivity"
            android:exported="false" />
        <activity
            android:name=".CodelabsSharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".feature.security.features.tips.view.BestPracticesActivity"
            android:exported="false" />
        <activity
            android:name=".feature.webview.features.listofwebviews.view.SamplesOfWebViewsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.checkapplifecycle.ApplicationLifecycleCallbackActivity"
            android:exported="false" />
        <activity
            android:name=".feature.contentprovider.s1.BasicContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.fragmentcontainerview.fragment.FragContainerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_frag_container_view"
            android:theme="@style/AppTheme.MaterialComponent.Light.NoActionBar.NoActionBar" />
        <activity
            android:name=".MainActivityCommunication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>