<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.br.tutotiral.medium.flexiblelayout.FlexibleRowsAndColumnsComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_flexible_rows_and_columns_compose"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.flexboxlayoutbehavior.FlexBoxLayoutBehaviorActivity"
            android:exported="false"
            android:label="@string/title_activity_flex_box_layout_behavior"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.playground.cookbook.handletextfield.HandleChangeToTextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_handle_change_to_text_field"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.docs.touchandinput.tapsandpress.TapsAndPressActivity"
            android:exported="false"
            android:label="@string/title_activity_taps_and_press"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.hadlingclicks.HandlingClicksActivity"
            android:exported="false"
            android:label="@string/title_activity_handling_clicks"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.guidebook.ComposeGuideBookActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_guide_book"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.playground.boxlayout.BoxLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_box_layour"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.workingwithimages.ImageInComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_image_in_compose"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.codelabs.composebasicsii.ComposeBasicsActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_basics"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.codelabs.composebasics.SimpleCombinationTextElementActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_combination_text_element"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.codelabs.introaccessibility.IntroAccessibilityActivity"
            android:exported="false"
            android:label="@string/title_activity_inttro_accessibility"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.allcomponents.feature.basiclists.SampleOfListsActivity"
            android:exported="false"
            android:label="@string/title_activity_sample_of_lists"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.allcomponents.AllComposeViewActivity"
            android:exported="false"
            android:label="@string/title_activity_all_compose_view"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.codelabs.testingcompose.TestingComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_testing_compose"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.codelabs.viewmodelandstate.ViewModelAndStateActivity"
            android:exported="false"
            android:label="@string/title_activity_view_model_and_state"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.animation.OverviewAnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_overview_animation"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.containertransformanimation.ContainerTransformAnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_container_transform_animation"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.medium.animatedborder.AnimatedBorderActivity"
            android:exported="false"
            android:label="@string/title_activity_animated_border"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.ktacademy.episodeii.EpisodeIIActivity"
            android:exported="false"
            android:label="@string/title_activity_episode_iiactivity"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.ktacademy.episodei.EpisodeOneActivity"
            android:exported="false"
            android:label="@string/title_activity_episode_one"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.aboutwindowinsets.WindowsInsetsActivity"
            android:exported="false"
            android:label="@string/title_activity_windows_insets"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.lazylist.FunWithLazyListActivity"
            android:exported="false"
            android:label="@string/title_activity_fun_with_lazy_list"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.stateandjackpackcompose.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name="com.br.tutotiral.google.leessonone.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="1st_tutorial_jetpack_compose"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.tutorials.medium.preferencesettings.PreferenceApiJetpackComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_preference_api_jetpack_compose_i"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main_api_reference_jetpack_compose"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.tutorials.medium.general.composablefun.ComposableFunctionActivity"
            android:exported="true"
            android:label="@string/title_activity_composable_function"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="composable_function_tutorial_jetpack_compose"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.tutorials.medium.views.borderanimation.BorderAnimationActivity"
            android:exported="true"
            android:label="@string/title_activity_border_animation"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="border_animation_tutorial_jetpack_compose"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.createpolygons.DrawingPolygonsActivity"
            android:exported="true"
            android:label="@string/title_activity_drawing_polygons"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="drawing_polygons_tutorial_jetpack_compose"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.tutorialgoogle.JetpackComposeTutorialActivity"
            android:exported="false"
            android:label="@string/title_activity_jetpack_compose_tutorial"
            android:theme="@style/Theme.RadarAnimation" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.RadarAnimation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main_compose_activity"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
    </application>

</manifest>